<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.v8.dt.platform.services.core.runtimeComponentExecutors">
   	  <executor
            class="com.marmyshev.dt.designer.executor.internal.ExecutableExtensionFactory:com.marmyshev.dt.designer.executor.DesignerLauncher"
            type="com._1c.g5.v8.dt.platform.services.core.componentTypes.AdvancedThickClient">
      </executor>
   </extension>
   <extension
         point="com._1c.g5.v8.dt.platform.services.core.runtimeComponentTypes">
         <type
            id="com._1c.g5.v8.dt.platform.services.core.componentTypes.AdvancedThickClient"
            name="%type.AdvancedThickClient.name"
            visible="true">
      </type>
   </extension>
   <extension
         point="com._1c.g5.v8.dt.platform.services.core.runtimeComponentResolvers">
   </extension>

</plugin>
